[submodule "assignment-2"]
	path = assignment-2
	url = https://github.com/UofM-PHYS30762/assignment-2-damianfrench.git
[submodule "assignment-3"]
	path = assignment-3
	url = https://github.com/UofM-PHYS30762/assignment-3-damianfrench.git
[submodule "assignment-4-damianfrench"]
	path = assignment-4-damianfrench
	url = https://github.com/UofM-PHYS30762/assignment-4-damianfrench.git
[submodule "assignment-5-damianfrench"]
	path = assignment-5-damianfrench
	url = https://github.com/UofM-PHYS30762/assignment-5-damianfrench.git
[submodule "project-3-a-particle-detector-damianfrench"]
	path = project-3-a-particle-detector-damianfrench
	url = https://github.com/UofM-PHYS30762/project-3-a-particle-detector-damianfrench.git
