[submodule "assignment-2"]
	path = assignment-2
	url = https://github.com/UofM-PHYS30762/assignment-2-damianfrench.git
[submodule "assignment-3"]
	path = assignment-3
	url = https://github.com/UofM-PHYS30762/assignment-3-damianfrench.git
